@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply mx-auto max-w-sm  md:max-w-[768px] lg:max-w-[1024px] 2xl:max-w-[1536px] sm:px-16 px-6;
}

.section {
	@apply sm:mt-20 mt-8;
}
body {
	background: #111111;
	overflow: hidden;
}

#blob {
	position: absolute;
	height: 400px;
	aspect-ratio: 1;
	background: white;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	background: linear-gradient(to right, aquamarine, mediumpurple);
	animation: rotate 20s infinite;
}

#blur {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 2;
	backdrop-filter: blur(200px);
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}
	50% {
		scale: 1 1.5;
	}
	to {
		rotate: 360deg;
	}
}
