@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #100e1b;
		--background: #ecebf4;
		--primary: #3b3168;
		--secondary: #9b91cf;
		--accent: #5343a3;
	}
	.dark {
		--text: #e6e4f1;
		--background: #0c0b14;
		--primary: #a197ce;
		--secondary: #3a306e;
		--accent: #6c5cbc;
	}
}

.container {
	@apply mx-auto max-w-sm  md:max-w-[768px] lg:max-w-[1024px] 2xl:max-w-[1536px] sm:px-16 px-6;
}

.section {
	@apply sm:mt-20 mt-8;
}
body {
	background: #111111;
	overflow: hidden;
}

#blob {
	position: absolute;
	height: 400px;
	aspect-ratio: 1;
	background: white;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	/* background: linear-gradient(to right, #667eea, #764ba2); */
	/* background: linear-gradient(to right, #ffeb3b, #9c27b0); */
	/* background: linear-gradient(to right, #1a237e, #0d47a1); */
	background: linear-gradient(to right, #9c27b0, #673ab7);
	animation: rotate 20s infinite;
	z-index: -2;
}

#blur {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	backdrop-filter: blur(200px);
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}
	/* 50% {
		scale: 1 1.5;
	} */
	to {
		rotate: 360deg;
	}
}
